@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<h2>@UserManager.GetUserAsync(Context.User).Result</h2>
<h3>Claims</h3>
<dl>
@foreach (Claim claim in UserManager.GetClaimsAsync(UserManager.GetUserAsync(Context.User).Result).Result)
{
    <dt>@claim.Type</dt>
    <dd>@claim.Value</dd>
}
</dl>


<form asp-action="AddUpdateDateClaim" method="post">
    <button>Add / Update Claim</button>
</form>